* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    user-select:none;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/
.header {
    display: block;
    width: 100%;
    height: 60px;
    background: #eaeaea;
    opacity: 0.9;
    filter: Alpha(opacity=90);
    position: fixed;
    top: 0;
    z-index: 5;
}

.header .headerInner{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header .headerInner .logo{
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 7px;
    background: url("../img/logo.gif") center;
}

.header .headerInner .logoText{
    font-family: "BankGothic Lt BT", sans-serif;
    font-size: 12px;
    color: #333;
    position: absolute;
    left: 20px;
    bottom: 7px;
}

.header .headerInner .nav_list{
    display: inline-block;
    line-height: 60px;
    float: right;
    position: relative;
}

.header .headerInner .nav_list a{
    display: block;
    font-size: 15px;
    color: #333;
    padding: 0 30px;
}

.header .headerInner .nav_list a:before{
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 60px;
    background: #009392;
    transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -webkit-transition: ease 0.4s;
    -o-transition: ease 0.4s;
}

.header .headerInner .nav_list a:hover:before{
    color: black;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 0.6;
    filter: Alpha(opacity=60);
}


/*图片滚动部分*/
div.banner{
    display: block;
    width: 100%;
    height: 200px;
    background: url("../img/banner_bg.gif") center;
    background-size: cover;
    z-index: 1;
    margin-top: 60px;
}

div.banner .bannerInner{
    width: 60%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

div.banner .bannerInner .bannerContent .fa{
    font-size: 40px;
    color: #fff;
    margin-top: 35px;
    cursor: pointer;
}

div.banner .bannerInner .bannerContent{
    display: inline-block;
}

div.banner .bannerInner .bannerContent .bannerContentTitle{
    font-size: 20px;
    color: #eaeaea;
    margin-top: 10px;
}

div.banner .bannerInner .bannerContent .bannerContentText{
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

/*wrap*/
div.wrap{
    width: 100%;
    height: auto;
    position: relative;
}

div.wrap .wrapInner{
    width: 50%;
    height: auto;
    margin: 30px auto;
    z-index: 1;
}

div.title{
    display: inline-block;
    font-size: 26px;
    font-weight: 400;
    color: #555;
    margin: 80px 0 10px;
    cursor: pointer;
    position: relative;
}

div.title:before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: #009392;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

div.title:hover:before{
    width: 100%;
    left: 0;
    right: 0;
}

div.articleRemark{
    width: auto;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-indent: 1em;
    color: #999;
    margin: 15px 0 25px;
    border-left: 4px #009392 solid;
}

div.abstract{
    font-size: 20px;
    line-height: 1.8em;
    text-align: justify;
    color: #555;
}

div.articleContent{
    font-size: 14px;
}

div.articleContent figure{
    background: #eee;
    margin: 1em 0;
    padding: 1em;
    border-radius: 10px;
    line-height: 1.6;
    overflow: auto;
    font-size: 0.9em;
}

div.articleContent blockquote{
    margin: 10px 0;
    padding: 0 15px;
    color: #666;
    border-left: 4px solid #ddd;
    font-size: 14px;
}

div.articleContent p{
    line-height: 2em;
}

div.articleContent img{
    display: block;
    margin: 20px auto;
}

div.articleContent ul li{
    padding-left: 25px;
    margin: 10px 0;
    font-size: 14px;
}

div.articleContent ul li ul{
    padding-left: 20px;
}

div.articleContent h1{
    margin: 20px 0;
    font-size: 20px;
}

div.articleContent h2{
    margin: 20px 0;
    font-size: 16px;
    font-weight: normal;
}

div.articleBtn{
    margin-top: 50px;
    text-align: center;
    display: block;
}

div.articleBtn a{
    font-size: 15px;
    padding: 5px 20px;
    border: 2px #555 solid;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

div.articleBtn a:hover{
    border-color: #009392;
    color: #009392;
    transition: all 0.5s;
}

div.articleContent{
    font-size: 20px;
    line-height: 1.8em;
    text-align: justify;
    color: #555;
    display: none;
}

div.pagenation{
    width: 200px;
    margin: 100px auto;
    text-align: center;
    }
div.pagenation a{
    display: inline-block;
    font-size: 25px;
    color: #555;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
}

div.pagenation .active{
    background: #009392;
}

div#arrowTopBtn{
    position: fixed;
    right: 50px;
    bottom: 100px;
    cursor: pointer;
}
div#arrowTopBtn .fa-arrow-up{
    font-size: 25px;
    color: #555;
}
div#arrowTopBtn .fa-arrow-up:hover{
    color: #009392;
}

/*footer*/
footer.foot .foot_Bg{
    width: 100%;
    height: 100px;
}