
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.5rem;
    font-family: "Microsoft YaHei", sans-serif;
    background: black;
}

a {
    text-decoration: none;
    color: #fff;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../img/mobile-bg.png") no-repeat;
    background-size: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.bg2 {
    width: 100%;
    height: 38%;
    position: absolute;
    background: url("../img/mobile-bg1.png") no-repeat;
    background-size: 100%;
    bottom: 0;
    z-index: 4;
}

.content {
    width: 100%;
    height: 9rem;
    position: absolute;
    bottom: 0;
    z-index: 5;
    text-align: center;
}

.content .about {
    color: #fff;
    font-weight: 500;
}

.content .enter-blog {
    margin-top: 1.1rem;
}

.content .enter-blog a {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
    line-height: 3rem;
    border-radius: 50%;
    background: #ccc;
    box-shadow: 0 0 2rem #fff;
    -webkit-box-shadow: 0 0 2rem #fff;
    -webkit-animation: aBlink 2.5s ease-in-out infinite;
    -moz-animation: aBlink 2.5s ease-in-out infinite;
    -o-animation: aBlink 2.5s ease-in-out infinite;
}

@-webkit-keyframes aBlink {
    0% {
        box-shadow: 0 0 0 #111;
        -webkit-box-shadow: 0 0 0 #111;
    }
    25% {
        box-shadow: 0 0 1rem #333;
        -webkit-box-shadow: 0 0 1rem #555;
    }
    50% {
        box-shadow: 0 0 2rem #fff;
        -webkit-box-shadow: 0 0 2rem #fff;
    }
    75% {
        box-shadow: 0 0 1rem #333;
        -webkit-box-shadow: 0 0 1rem #555;
    }
    100% {
        box-shadow: 0 0 0 #111;
        -webkit-box-shadow: 0 0 0 #111;
    }
}

#canClock {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -130px;
    z-index: 2;
}
