a{
    text-decoration: none;
    color: #333;
}

div.wrap {
    width: 100%;
    height: auto;
    position: relative;
}

div.wrap .wrap-inner {
    width: 60%;
    height: auto;
    margin: 30px auto;
    padding: 20px 20px;
    z-index: 1;
}

div.wrap .wrap-inner li{
    list-style: disc;
    padding: 10px 0;
    cursor: pointer;
}


