
div.loading {
    text-align: center;
    margin-top: 50px;
}

div.loading p {
    text-align: center;
    margin-left: 20px;
}

/*wrap*/
div.wrap {
    width: 100%;
    height: auto;
    position: relative;
}

div.wrap .wrapInner {
    width: 60%;
    height: auto;
    margin: 30px auto;
    z-index: 1;
}

div.wrap .wrapInner .articleWrap{
    width: 100%;
    height: auto;
    margin-top: 5rem;
}

/*留言区*/

/*留言结束*/
div.title {
    display: inline-block;
    font-size: 1.625rem;
    font-weight: 400;
    color: #555;
    margin: 0 0 0.625rem;
    cursor: pointer;
    position: relative;
}

div.title:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.125rem;
    width: 0;
    height: 0.125rem;
    background: deepskyblue;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

div.title:hover:before {
    width: 100%;
    left: 0;
    right: 0;
}

div.articleRemark {
    width: auto;
    height: 1.875rem;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-indent: 1rem;
    color: #999;
    margin: 0.9375rem 0 1.5625rem;
    border-left: 0.25rem deepskyblue solid;
}

div.abstract {
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: justify;
    color: #555;
}

div.articleContent {
    font-size: 0.875rem;
}

div.articleContent figure {
    background: #eee;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.625rem;
    line-height: 1.6rem;
    overflow: auto;
    font-size: 0.9rem;
}

div.articleContent blockquote {
    margin: 0.625rem 0;
    padding: 0 0.9375rem;
    color: #666;
    border-left: 0.25rem solid #ddd;
    font-size: 0.875rem;
}

div.articleContent p {
    line-height: 2rem;
}

div.articleContent img {
    display: block;
    margin: 1.25rem auto;
}

div.articleContent ul li {
    padding-left: 1.5625rem;
    margin: 0.625rem 0;
    font-size: 0.875rem;
}

div.articleContent ul li ul {
    padding-left: 1.25rem;
}

div.articleContent h1 {
    margin: 1.25rem 0;
    font-size: 1.25rem;
}

div.articleContent h2 {
    margin: 1.25rem 0;
    font-size: 1rem;
    font-weight: normal;
}

div.articleBtn {
    margin-top: 3.125rem;
    text-align: center;
    display: block;
}

div.articleBtn a {
    font-size: 0.9375rem;
    padding: 0.3125rem 1.25rem;
    border: 0.125rem #555 solid;
    border-radius: 1.25rem;
    cursor: pointer;
    position: relative;
}

div.articleBtn a:hover {
    border-color: deepskyblue;
    color: deepskyblue;
    transition: all 0.5s;
}

div.articleContent {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.8rem;
    text-align: justify;
    color: #555;
    display: none;
}

div.articleContent img {
    width: 100%;
}

div.pagenation {
    width: 12.5rem;
    margin: 6.25rem auto;
    text-align: center;
}

div.pagenation a {
    display: inline-block;
    font-size: 1.5625rem;
    color: #555;
    padding: 0 0.625rem;
    margin: 0 0.625rem;
    cursor: pointer;
}

div.pagenation .active {
    background: deepskyblue;
}

div#arrowTopBtn {
    position: fixed;
    right: 3.125rem;
    bottom: 6.25rem;
    cursor: pointer;
}

div#arrowTopBtn .fa-arrow-up {
    font-size: 1.5625rem;
    color: #555;
}

div#arrowTopBtn .fa-arrow-up:hover {
    color: deepskyblue;
}

/*footer*/
footer.foot .foot_Bg {
    width: 100%;
    height: 6.25rem;
}