* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
    position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*header*/
.header {
    display: block;
    width: 100%;
    height: 60px;
    background: #eaeaea;
    opacity: 0.9;
    filter: Alpha(opacity=90);
    position: fixed;
    top: 0;
    z-index: 5;
}

.header .headerInner {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header .headerInner .logo {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 7px;
    background: url("../img/logo.gif") center;
}

.header .headerInner .logoText {
    font-family: "BankGothic Lt BT", sans-serif;
    font-size: 12px;
    color: #333;
    position: absolute;
    left: 20px;
    bottom: 7px;
}

.header .headerInner .nav_list {
    display: inline-block;
    line-height: 60px;
    float: right;
    position: relative;
}

.header .headerInner .nav_list a {
    display: block;
    font-size: 15px;
    color: #333;
    padding: 0 30px;
    z-index: 10;
}

.header .headerInner .nav_list a::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 60px;
    background: deepskyblue;
    z-index: 7;
    transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -webkit-transition: ease 0.4s;
    -o-transition: ease 0.4s;
}

.header .headerInner .nav_list a:hover:before {
    color: black;
    width: 100%;
    left: 0;
    right: 0;
    opacity: 0.6;
    filter: Alpha(opacity=60);
    z-index: 7;
}

/*图片滚动部分*/
div.banner {
    display: block;
    width: 100%;
    height: 150px;
    background: url("../img/banner_bg.gif") center;
    background-size: cover;
    z-index: 1;
    margin-top: 60px;
}

div.banner .bannerInner {
    width: 60%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

div.banner .bannerInner .bannerContent .fa {
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}

div.banner .bannerInner .bannerContent {
    display: inline-block;
}

div.banner .bannerInner .bannerContent .bannerContentTitle {
    font-size: 20px;
    color: #eaeaea;
    margin-top: 10px;
}

div.banner .bannerInner .bannerContent .bannerContentText {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

